---
interface Props {
  date: string;
  where: string;
  title: string;
  subtitle: string;
  text: string;
}

const { date, where, title, subtitle, text } = Astro.props;
---

<div class="flex items-center gap-3 w-full rounded bg-base-200 p-5">
  <div class="text-right">
    <p>{date}</p>
    <p>{where}</p>
  </div>
  <div
    class="w-2/3 flex flex-col items-start gap-1 border-l-2 pl-5 border-neutral-400"
  >
    <h2 class="text-xl">{title}</h2>
    <h3 class="">{subtitle}</h3>
    <p class="text-left text-sm">
      {text}
    </p>
  </div>
</div>
